/*
Description:
    Contains all the styles for the winning wheel page.

Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.

    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/
h1 {

  color: AliceBlue     ;
  text-align: center;
  font-size: 30px;
    text-decoration: underline;
}
body {
  background-image:url(https://cdn.glitch.global/24bff6fb-5beb-4e7d-b299-227a17402e7f/photo-1514810771018-276192729582.jpg?v=1649848536632);
 background-repeat: no-repeat;
 background-size: cover;
}
p {
  font: 20px Ink Free, sans-serif;
  line-height: 1;
  color: #3b6b63;
  text-align: center; }

/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}
